{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<center>
    <h1>ScopeTrak</h1>
    <p><i>Version 0.1 by Gord Tulloch</i></p>
    <A HREF="start"><button type="button" class="btn btn-success btn-lg">Start Solving</button></A><br><br>
    <A HREF="end"><button type="button" class="btn btn-danger btn-lg" href="stop.html" role="button">Stop Solving</button></A><br><br>
    <A HREF="config"><button type="button" class="btn btn-primary btn-lg" href="config.html" role="button">Config</button></A><br><br>
</center>
{% endblock %}